<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="restaurantConnectionString" connectionString="Data Source=POS744;Initial Catalog=restaurant;User ID=sa;Password=asd12345;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.connection_string">Server=POS744;initial catalog=restaurant;User ID=sa;Password=asd12345;</property>
			<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
			<mapping assembly="NHibernateTest"/>
		</session-factory>
	</hibernate-configuration>
	<system.web>
		
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		
		<profile defaultProvider="SqlProvider" enabled="true">
			<providers>
				<clear/>
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="restaurantConnectionString" applicationName="SampleApplication" description="SqlProfileProvider for SampleApplication"/>
			</providers>
			<properties>
				<add name="Address" type="string"/>
				<add name="Phone" type="string"/>
			</properties>
		</profile>
		
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="120"/>
		</authentication>
		<customErrors mode="Off" defaultRedirect="DenyAccess.aspx">
			<error statusCode="403" redirect="DenyAccess.aspx"/>
			<error statusCode="404" redirect="DenyAccess.aspx"/>
		</customErrors>
		
		<!--SiteMap-->
		<siteMap defaultProvider="MySitemapProvider" enabled="true">
			<providers>
				<add name="MySitemapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="false"/>
			</providers>
		</siteMap>
		
		<membership defaultProvider="SqlMembershipProvider">
			<providers>
				<clear/>
				<add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="restaurantConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="20" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		
    <roleManager defaultProvider="SqlRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".Eorder_Role" cookieTimeout="120" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear/>
				<add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="restaurantConnectionString" applicationName="/"/>
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>

</configuration>
